<div id="<%= dom_id number_request %>">
  <p>
    <strong>Input:</strong>
    <%= number_request.input %>
  </p>

  <p>
    <strong>Response:</strong>
    <%= number_request.response %>
  </p>

</div>
