<p style="color: green"><%= notice %></p>

<h1>Number requests</h1>

<div id="number_requests">
  <% @number_requests.each do |number_request| %>
    <%= render number_request %>
    <p>
      <%= link_to "Show this number request", number_request %>
    </p>
  <% end %>
</div>

<%= link_to "New number request", new_number_request_path %>
